@import url("variables.css");

.tasks-contain {
  position: relative;
  flex: 1;
  background-color: var(--input);
  border-radius: 8px;
  border: 3px solid #000;
}

.header-tasks-contain {
  /*   border: 1px solid red;
 */
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#btn-new-task {
  border: none;
  padding: 10px 15px;
  border-radius: 30px;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 0.9rem;
  cursor: pointer;
  background-color: var(--button);
  color: var(--font);
  border: 3px solid #000;
}

.tasks {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  height: 400px;
  overflow-y: auto; /* Habilitar rolagem vertical quando necessário */
  /*   border: 1px solid #ccc;
 */
  padding: 30px 20px;
}

.tasks-empty {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.1rem;
  text-transform: uppercase;
  font-style: italic;
  font-weight: 600;
  gap: 10px;
}

.tasks-empty i {
  font-size: 4rem;
}

.hide-tasks-empty {
  display: none;
}

.task {
  width: 100%;
  padding: 0;
  border-radius: 2px;
  color: var(--font-card);
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 1), 8px 8px 0 0 rgba(0, 0, 0, 1);
}

.header-task {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 20px 20px 10px 20px;

  /*   border: 1px dashed black;
 */
  overflow: hidden;
}

.about-task {
  width: 100%;
  display: flex;
  flex-direction: column;
  /*   background-color: brown;
 */
}

#title {
  font-size: 1.3rem;
  font-weight: 600;
}

#time-of-creation {
  font-size: 0.9rem;
  color: var(--font-card-sec);
}

#priority {
  position: absolute;
  width: 150px;
  top: 15px;
  right: -40px;
  color: var(--font);
  transform: rotate(35deg);
  font-weight: 600;
  background-color: red;
  text-align: center;
}

.body-task {
  display: flex;
  justify-content: start;
  align-items: start;
  text-align: justify;
  flex-wrap: wrap;
  padding: 10px 20px;
  font-weight: 500;
}

.actions {
  display: flex;
  align-items: center;
  gap: 20px;
  /*   border: 1px dashed hotpink;
 */
  padding: 10px 20px 20px 20px;
}

.btn-action {
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 15px;
  font-size: 1.2rem;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  background-color: var(--input);
  color: var(--font-sec);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  transition: 0.3s;
  border: 2px solid #000;
}

.btn-action:hover {
  color: var(--font);
  background-color: var(--input-hover);
  transition: 0.3s;
  transform: scale(1.05);
}

#delete {
  color: red;
}

#completed {
  color: green;
}

#id {
  display: none;
}
