:root {
  --bg: #232529;
  --input: #292c31;
  --input-hover: #32353a;
  --font: #f0f8ff;
  --font-sec: #ccc;
  --font-card: #000;
  --font-card-sec: #000000cb;
  --button: #0037ff;
  --button-hover: #0532d2;
}
